body h2{
    margin-bottom: 40px;
}
.denis{
    display: flex;
    gap: 15px;
}
.oge{
    display: flex;
    gap: 15px;
}
.satya{
    display: flex;
    gap: 15px;
}
.buhari{
    display: flex;
    gap: 15px;
}

/* MEDIA QUERY FOR RESPONSIVENESS */
@media(max-width: 600px){
    .denis,
    .oge,
    .satya,
    .buhari{
        display: block;
    }
}
@media(max-width: 600px) {
    .Mark,
    .satya,
    .satya,
    .Mayer{
        display: block;
    }  
}