body {
    margin-bottom: 40px;
    background-color: red;
}
.denis{
    display: flex;
    gap: 15px;
}
.oge{
    display: flex;
    gap: 15px;
}
.satya{
    display: flex;
    gap: 15px;
}
.buhari{
    display: flex;
    gap: 15px;
}